@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Kumbh Sans', sans-serif;
}
body {
    background-color: #19a2ae;  
    background-image: url("../images/bg-pattern-top.svg"), url("../images/bg-pattern-bottom.svg");
    background-repeat: no-repeat no-repeat;
    background-position: right 49vw bottom 36vh, left 48vw top 54vh;
    display: flex;
    justify-content: center;
}
main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
main .main-card {
    background-image: url(../images/bg-pattern-card.svg);
    background-repeat: no-repeat;
    border-radius: .5rem;
    height: 380px;
    width: 350px;
    background-color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
}
main .main-card img {
    border-radius: 50%;
    margin-top: 90px;
    width: 100px;
    height: 100px;
    border: solid white 5px;
}
main .main-card h1 {
    color: #2d3248;
    font-size: 1.4em;
    margin: 15px;
}
main .main-card h1 span {
    font-weight: 100;
    color: #6a6f81;
}
main .main-card p {
    color: #6a6f81;
    font-size: .9em;
}
main .main-card .statistics {
    display: flex;
    align-items: center;
    position: absolute;
    justify-content: space-evenly;
    bottom: 0;
    border-top: solid #96969659 .5px;
    width: 100%;
    height: 90px;
}
main .main-card .statistics div h2 {
    color: #2d3248;
    font-size: 1.2em;
    text-align: center;
}
main .main-card .statistics div p {
    margin-top: 2px;
    font-weight: 100;
    color: #6a6f81;
    font-size: .8em;
    text-align: center;
}
footer {
    position: absolute;
    bottom: 10px;
}
footer p {
    color: #2d3248;
    text-align: center;
    font-size: 1.3em;
}
